{% extends 'layout/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis non veniam optio illo illum veritatis ex voluptatum nihil dolores dolorem, minus ea quo facere! Harum consequuntur, explicabo dolores magnam iusto accusamus corrupti fugiat ad quis. Illo atque, sequi inventore dignissimos exercitationem ab labore omnis excepturi illum ad voluptate suscipit accusantium eius corporis in molestias nesciunt, voluptas quis unde accusamus natus, corrupti deserunt. Aut quam ratione ullam, quo aliquam consequatur nostrum veritatis. Laboriosam magni tempore fuga optio quas architecto quibusdam, illo deleniti in iste explicabo soluta saepe corrupti blanditiis maxime dignissimos eos facilis corporis. Nisi id obcaecati architecto quos quas!</p>

{% endblock %}
